<!DOCTYPE HTML>
<html>
  <head>
    <title>Dietary Restrictions</title>
  </head>
  
  <body>
    <p class = "diet1">
      Vegan
      <img src = "https://wellandfull.com/wp-content/uploads/2016/02/WellandFull-1-23.jpg">
    </p>
    
    <p class = "diet5">
      Pescetarian
      <img src = "http://www.livestrong.com/wp-content/uploads/2016/01/fish.jpg">
    </p>
    
    <p class = "diet6">
      Organic
      <img src = "https://healthprep.com/wp-content/uploads/2018/03/Organic.Dreamstime.jpg">
    </p>
    
    <p class = "diet7">
      Gluten Free
      <img src = "http://visuckhoeviet.net/UserUpload/Editor/gluten-free-products.jpg">
    </p>
    
    <p class = "diet8">
      Dairy Free
      <img src = "https://s3-us-west-2.amazonaws.com/beachbody-blog/uploads/2017/10/Dairy-free-diet.iStock-664568904.inpost3.jpg">
    </p>
  </body>
</html>