 <!DOCTYPE HTML>
 <html>
   <head>
     <title>Meal of Choice</title>
   </head>
   
   <body>
      <p class = "Time1">
        Breakfast
        <img src = "https://3mp1iy3dqifc108ldv2hvkzv-wpengine.netdna-ssl.com/wp-content/uploads/2016/09/A-variety-of-delicious-breakfast-foods-on-a-table-1000x576.jpg">
      </p>
      
      <p class = "Time2">
        Lunch
        <img src = "https://assets3.thrillist.com/v1/image/2737262/size/gn-gift_guide_variable_c.jpg">
      </p>
      
      <p class = "Time3">
        Dinner
        <img src = "https://www.atlantisbahamas.com/media/Dining/Fine/Hero/bahamian-club.jpg">
      </p>
       <p class = "Time4">
        Dessert
        <img src = "https://pbs.twimg.com/media/DYWp3YSU8AAfvNq.jpg">
      </p>
      
      <p class = "Time5">
        Juices
        <img src = "http://cdn.ahchealthenews.com/wp-content/uploads/2015/11/juice-cleanse.jpg">
      </p>
    </body>
</html>